
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}


.content {
  padding: 20px;
  margin-top: 60px; 
}


h1, h2, h3 {
  color: #1e1e1e;
}


.home {
  text-align: center;
  padding: 40px 20px;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2rem;
  color: #555;
}

.feedback, .contact {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  color: #333;
}

.feedback h1, .contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

.feedback p, .contact p {
  text-align: center;
  color: #555;
}