.chat-input {
    display: flex;
    padding: 20px 20px 20px 5px;
    background-color: #ffffff;
  }
  
.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #eff8f9;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input button:hover {
  background-color: #2980b9;
}

.file-upload-label {
  margin-right: 5px;
  cursor: pointer;
}

.file-upload-label svg {
  border-radius: 10px;
  background-color: none;
}

.file-upload-label svg:hover {
  background-color: #a8a7a7;
}
