  .chat-container {
    display: flex;
    height: calc(100vh - 84px);
    background-color: #ffffff;
  }

  .chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .chat-main h2 {
    background-color: #ffffff;
    height: 15%;
    color: #000000;
    padding: 20px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-left: 3px solid #a8a8a8;
    border-bottom: 3px solid #a8a8a8;
  }
