.chat-sidebar {
<<<<<<< HEAD
    width: 30%;
    background-color: #FFFFFF;
    color: #313131;
=======
    width: 20%;
    background-color: #ffffff;
    color: black;
>>>>>>> 3903800650f9553b5813fadbc3707c9c87ea394f
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin-right: 30px;
    box-shadow: none;
  }

  .chat-sidebar::-webkit-scrollbar {
    width: 6px;
  }

  .chat-sidebar::-webkit-scrollbar-track {
    background: #ededed;
  }

  .chat-sidebar::-webkit-scrollbar-thumb {
    background: #d3d3d3;
  }

  .chat-sidebar::-webkit-scrollbar-thumb:hover {
    background: #acacac;
  }
  
  .chat-sidebar h2 {
    margin-top: 50px;
<<<<<<< HEAD
    margin-left: 50px;
=======
    margin-left: 30px;
>>>>>>> 3903800650f9553b5813fadbc3707c9c87ea394f
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .chat-sidebar .chat-search {
    display: flex;
    align-items: center;
    background-color: #EFF8F9;
    border-radius: 20px;
    height: 45px;
    margin-left: 50px;
    width: 80%;
    margin-bottom: 30px;
  }

  .chat-search .icon {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
  }

  .chat-search input {
    background-color: transparent;
    outline: none;
  }
  
  .chat-sidebar ul {
    list-style: none;
    padding: 0;
    margin-left: 50px;
    width: 80%;
  }
  
  .chat-sidebar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-bottom: 30px;
    border-bottom: 1px solid #313131;
  }
  
  .chat-sidebar li:hover:not(.selected) {
    background-color: #cccccc;
  }

  .user.selected {
    background-color: #d1cdfc;
  }

  .user.notif {
    font-weight: bold;
  }

  .notif-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgb(228, 83, 131);
    border-radius: 50%;
    margin-left: 18px;
    font-size: 12px;
    font-weight: bold;
  }

  .notification-bar {
    background-color: #f0f8ff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }