.messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }

.message {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 400px;
  margin-bottom: 15px;
}

.message-content {
  max-width: 100%;
  border-radius: 15px;
  padding: 8px 16px;
  word-wrap: break-word;
}

.message.you .message-content {
  align-self: flex-end;
}
.message.other .message-content {
  align-self: flex-start;
}

.message.you {
  align-self: flex-end;
  margin-right: 10px;
}

.message.you .message-meta {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  color: rgb(0, 0, 0);
}

.message.you .message-meta .author {
  display: flex;
  margin-left: 10px;
  margin-right: 12px;
  font-size: 15px;
  font-weight: bold;
}

.message.you .message-meta .date {
  display: flex;
  margin-right: 10px;
  color:rgb(92, 92, 92);
  font-size: 11px;
  font-weight: bold;
}

.message.you .message-content {
  background-color: #1abc9c;
}

.message.other {
  align-self: flex-start;
}

.message.other .message-meta {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  color: rgb(0, 0, 0);
}

.message.other .message-meta .author {
  display: flex;
  margin-left: 10px;
  margin-right: 12px;
  font-size: 15px;
  font-weight: bold;
}

.message.other .message-meta .date {
  display: flex;
  margin-right: 10px;
  color:rgb(92, 92, 92);
  font-size: 11px;
  font-weight: bold;
}

.message.other .message-content {
  background-color: rgb(115, 115, 115);
}

.file-media {
  margin-top: 5px;
  max-width: 600px;
  max-height: 600px;
}



.file-name {
  font-size: 20px;
  color: blue;
}

  