.new-day-line {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.new-day-line:before, .new-day-line:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #646464;
    margin: 0 10px;
}

.line-date {
  padding: 0 5px;
  font-weight: bold;
  font-size: 12px;
  color: #212121;
}