.unread-messages-line {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.unread-messages-line:before, .unread-messages-line:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #c82b2b;
    margin: 0 10px;
}

.line-unread {
  padding: 0 5px;
  font-weight: bold;
  font-size: 14px;
  color: #c82b2b;
}